{% extends 'home/nav_bar.html' %}
{% load static %}

{% block title %}
<title>Transaction History</title>
<link rel="stylesheet" href="{% static 'search_and_history/style.css' %}">
<style>
table,tr,td{
     border-color:white;
}
</style>
{% endblock title %}


{% block customer_content %}
{% if status %}
<h1> {{status}} </h1>
{% else %}
    <table>
        <thead>
            <tr>
                <td> <a href="{% url 'history' %}?op=1"> Transaction with </a> </td>
                <td> <a href="{% url 'history' %}?op=2"> Status </a> </td>
                <td> <a href="{% url 'history' %}?op=3"> Amount </a> </td>
                <td> <a href="{% url 'history' %}?op=4"> Date </a> </td>
                <td> <a href="{% url 'history' %}?op=5"> Time </a> </td>
            </tr>
        </thead>

        {% for transaction in history %}

            {% if transaction.6 == 'debited' %}
                <tr style="background-color: red; color: white;">
                    <td> {{transaction.3}} </td>
                    <td> {{transaction.6}} </td>
                    <td> {{transaction.2}} </td>
                    <td> {{transaction.4}} </td>
                    <td> {{transaction.5}} </td>
                    
                </tr>
            {% else %}
                <tr style="background-color: rgb(126, 230, 23); color:black;">
                    <td> {{transaction.3}} </td>
                    <td> {{transaction.6}} </td>
                    <td> {{transaction.2}} </td>
                    <td> {{transaction.4}} </td>
                    <td> {{transaction.5}} </td>
                    
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endif %}
{% endblock customer_content %}
